<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Management</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>User List</h1>
    <a href="/add">Add User</a>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Actions</th>
      </tr>
      <% users.forEach(user => { %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.age %></td>
        <td>
          <a href="/edit/<%= user._id %>">Edit</a>
          <a
            href="/delete/<%= user._id %>"
            onclick="return confirm('Are you sure?')"
            >Delete</a
          >
        </td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
